
# to ignore in Fluid1D

Fluid1D/data/*
Fluid1D/list_comprehension.py
Fluid1D/*.log
Fluid1D/*.json

# to ignore in Fluid3D

Fluid3D/???
Fluid3D/????
Fluid3D/1
Fluid3D/*.Identifier
Fluid3D/*.foam
Fluid3D/*.log
Fluid3D/*.json

# all the rest to ignore

runs
precice-runs
*.Identifier
file